/* Badge */
.badge {
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #BDBDBD;
  display: inline-block;
  float: right;
  border-radius: 10px;
  min-width: 10px;
}