header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
}
.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.columns:after {
  content:'';
  display:block;
  clear: both;
}
.left-column {
  float: left;
  width: 23%;
}
.right-column {
  float: left;
  width: 77%;
}
.right-column .container {
  padding: 0 40px;
}

/* Style */
.right-column {
  background-color: #ededed;
}